<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SJDP26RN0B"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-SJDP26RN0B');
</script>

<body>
    <h1>Welcome to Clara's website !</h1>

    

    <!-- Google button -->
    <form action="https://google.com" target="_blank">
        <input type="submit" value="Make a research on Google" />
    </form>
    
    <!-- Google Analytics button -->
    <form action="https://analytics.google.com/analytics/web/#/p407503460/reports/intelligenthome/JZ3tQQM2_VuVkHk9t8WyokkumVN1XsDC7wT4qtzHS" target="_blank">
        <input type="submit" value="Open my Google Analytics report"/>
    </form>

    <!-- Display the status code -->
    <!-- <h2>Status Code:</h2>
    <p>200</p> -->

    <h2> Active Users </h2>
    {{active_users}}

    <!-- Display the cookies -->
    <h2>Cookies:</h2>
    <ul>
        {% for key, value in cookies.items() %}
            <li>{{ key }}: {{ value }}</li>
        {% endfor %}
    </ul>

</body>
</html>
